[data-theme='dark'] {
  --is-dark: 1;
  --is-white: 0;
  --bg0: #131313;
  --bg50: #13131380;
  --bg33: rgba(19, 19, 19, 0.33);
  --bg2: #1a1a1a;

  --color-op: #000000;
  --color0: #ffffff;
  --color50: #ffffff80;
  --color33: rgba(255, 255, 255, 0.33);

  --color1: #f4f7fa;
  --color2: #a8a8a8;
  --color3: #949494;

  --accent0: #ffcc00;
  --accent50: #ffcc0080;
  --accent1: #0066cc;
  --accent2: hsl(48, 100%, 71%);

  --scrollbar-thumb: rgb(54, 54, 54);
  --scrollbar-track: rgb(90, 90, 90);
  --scrollbar-thumb_hover: rgb(21, 21, 21);
  --scrollbar-track_hover: rgb(106, 106, 106);

  --loader-bg-blend-mode: multiply;
}

[data-theme='light'] {
  --is-dark: 0;
  --is-white: 1;
  --bg0: #ececec;
  --bg50: #ececec80;
  --bg33: rgba(236, 236, 236, 0.33);
  --bg2: #dbdbdb;

  --color-op: #ffffff;
  --color0: #000000;
  --color50: #00000080;
  --color33: rgba(0, 0, 0, 0.33);

  --color1: #0b0805;
  --color2: #575757;
  --color3: #6b6b6b;

  --accent0: #0066cc;
  --accent50: #0066cc80;
  --accent1: #ffcc00;
  --accent2: hsl(210, 100%, 71%);

  --scrollbar-thumb: rgb(145, 145, 145);
  --scrollbar-track: rgb(242, 242, 242);
  --scrollbar-thumb_hover: rgb(45, 45, 45);
  --scrollbar-track_hover: rgb(226, 226, 226);

  --loader-bg-blend-mode: screen;
}

:root {
  font-size: 1.4vmin;
  font-family: 'Victor Mono', serif;
  font-optical-sizing: auto;
  line-height: normal;

  --rem: calc(100vmin / 4.5);
  --rem05: calc(var(--rem) / 2);
  --tr-dur: 500ms;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

  scroll-behavior: smooth; /* Enables smooth scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  -moz-overflow-scrolling: touch; /* Mozilla-specific smooth scrolling */

  transition: 
    background-color var(--tr-dur), /* Background color */
    border var(--tr-dur), /* Border */
    border-color var(--tr-dur), /* Border color */
    border-radius var(--tr-dur), /* Border radius */
    box-shadow var(--tr-dur), /* Box shadow */
    opacity var(--tr-dur), /* Opacity */
    transform var(--tr-dur), /* Transform (scale, rotate, etc.) */
    width var(--tr-dur), /* Width */
    height var(--tr-dur), /* Height */
    max-width var(--tr-dur), /* Max width */
    max-height var(--tr-dur), /* Max height */
    min-width var(--tr-dur), /* Min width */
    min-height var(--tr-dur), /* Min height */
    margin var(--tr-dur), /* Margin */
    padding var(--tr-dur), /* Padding */
    left var(--tr-dur), /* Left position */
    right var(--tr-dur), /* Right position */
    top var(--tr-dur), /* Top position */
    bottom var(--tr-dur), /* Bottom position */
    z-index var(--tr-dur), /* Z-index (may not have visual effect) */
    filter var(--tr-dur), /* Filter (blur, brightness, etc.) */
    -webkit-filter var(--tr-dur), /* Webkit Filter */
    visibility var(--tr-dur), /* Visibility */
    white-space var(--tr-dur), /* White space */
    line-height var(--tr-dur), /* Line height */
    font-size var(--tr-dur), /* Font size */
    transform-origin var(--tr-dur), /* Transform origin */
    clip-path var(--tr-dur), /* Clip path */
    object-fit var(--tr-dur), /* Object fit */
    cursor var(--tr-dur), /* Cursor */
    transition-delay var(--tr-dur), /* Delay of transition */
    transition-timing-function var(--tr-dur); /* Timing function */

  -moz-transition: 
    background-color var(--tr-dur), /* Background color */
    border var(--tr-dur), /* Border */
    border-color var(--tr-dur), /* Border color */
    border-radius var(--tr-dur), /* Border radius */
    box-shadow var(--tr-dur), /* Box shadow */
    opacity var(--tr-dur), /* Opacity */
    transform var(--tr-dur), /* Transform (scale, rotate, etc.) */
    width var(--tr-dur), /* Width */
    height var(--tr-dur), /* Height */
    max-width var(--tr-dur), /* Max width */
    max-height var(--tr-dur), /* Max height */
    min-width var(--tr-dur), /* Min width */
    min-height var(--tr-dur), /* Min height */
    margin var(--tr-dur), /* Margin */
    padding var(--tr-dur), /* Padding */
    left var(--tr-dur), /* Left position */
    right var(--tr-dur), /* Right position */
    top var(--tr-dur), /* Top position */
    bottom var(--tr-dur), /* Bottom position */
    z-index var(--tr-dur), /* Z-index (may not have visual effect) */
    filter var(--tr-dur), /* Filter (blur, brightness, etc.) */
    -moz-filter var(--tr-dur), /* Moz Filter */
    visibility var(--tr-dur), /* Visibility */
    white-space var(--tr-dur), /* White space */
    line-height var(--tr-dur), /* Line height */
    font-size var(--tr-dur), /* Font size */
    transform-origin var(--tr-dur), /* Transform origin */
    clip-path var(--tr-dur), /* Clip path */
    object-fit var(--tr-dur), /* Object fit */
    cursor var(--tr-dur), /* Cursor */
    transition-delay var(--tr-dur), /* Delay of transition */
    transition-timing-function var(--tr-dur); /* Timing function */
}


body {
  margin: 0;
  overflow-x: hidden;
  background: var(--bg0);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb_hover);
}

::-webkit-scrollbar-track:hover {
  background-color: var(--scrollbar-track_hover);
}

::selection {
  background: var(--accent0);
  color: #fff;
}

::-moz-selection {
  background: var(--accent0);
  color: #fff;
}

::-webkit-selection {
  background: var(--accent0);
  color: #fff;
}

::selection .logo-image {
  background: var(--accent0);
  stroke: #fff !important;
}

::-moz-selection .logo-image {
  background: var(--accent0);
  stroke: #fff !important;
}

::-webkit-selection .logo-image {
  background: var(--accent0);
  stroke: #fff !important;
}

a:link,
a:visited,
a:hover,
a:active {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
menu,
ul,
ol,
li,
label,
span:not(.logo, #spot) {
  margin: 0;
  padding: 0;
  cursor: text;
}

menu, ul ,ol {
  list-style: none;
}

button {
  position: relative;
  cursor: pointer;
}

button,
button:hover,
button:active {
  border: none;
}

@keyframes jump-right {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  8.333% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }

  16.666% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  25% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  33.333% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  41.666% {
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
  }

  50% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

b[content='→'] {
  position: absolute;
  right: 2rem;
  transform: scale(1.5, 2.5) translate(0, -27%);
  -webkit-transform: scale(1.5, 2.5) translate(0, -27%);
  -moz-transform: scale(1.5, 2.5) translate(0, -27%);
  -ms-transform: scale(1.5, 2.5) translate(0, -27%);
  -o-transform: scale(1.5, 2.5) translate(0, -27%);
}

*:has(.arrow-right):hover>.arrow-right {
  animation: jump-right 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation: jump-right 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--color0);
}

a.router-link-active:not(.not-to-show-active),
a.link:hover {
  box-shadow: inset -0.5rem -0.5rem 1rem 0.5rem var(--color50);
  border-radius: var(--rem05);
  -webkit-border-radius: var(--rem05);
  -moz-border-radius: var(--rem05);
  -ms-border-radius: var(--rem05);
  -o-border-radius: var(--rem05);
  text-shadow: 0 0 0.125rem var(--color0);
}

a.router-link-active:not(.not-to-show-active)::after,
a.link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0.5rem 0.5rem 1rem 0.5rem var(--bg50);
  border-radius: var(--rem05);
  -webkit-border-radius: var(--rem05);
  -moz-border-radius: var(--rem05);
  -ms-border-radius: var(--rem05);
  -o-border-radius: var(--rem05);
}

a.transparent-on-hover:hover {
  background: transparent !important;
  background-color: transparent !important;
}

a.link:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -0.5rem -0.5rem 1rem 0.5rem var(--bg50);
  border-radius: var(--rem05);
  -webkit-border-radius: var(--rem05);
  -moz-border-radius: var(--rem05);
  -ms-border-radius: var(--rem05);
  -o-border-radius: var(--rem05);
  color: var(--bg0);
}

.font-variant {
  font-variant: small-caps;
}

#app {
  width: 100dvw;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0 10dvw;
  overflow: hidden;
  color: var(--color0);
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
  font-style: normal;
}

.h1 {
  font-size: 4.5rem;
  line-height: 110%;
  letter-spacing: -0.045rem;
}

h1, .h1_span {
  text-shadow: 0 0 0.25rem var(--color-op);
  position: relative;
  z-index: 5;
}

h1::before, .h1_span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 0 0.5rem var(--color-op);
  z-index: -1;
}

h1::after, .h1_span::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 0 1rem var(--color-op);
  z-index: -2;
}

.h2 {
  font-size: 4rem;
  line-height: 140%;
  letter-spacing: -0.04rem;
}

.h3 {
  font-size: 3.5rem;
  line-height: 125%;
  letter-spacing: -0.035rem;
}

.h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.025rem;
}

.p1 {
  font-size: 1.33rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.p2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.p3 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.015625rem;
}

.p4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 170%;
}

.dimmed {
  color: var(--color2)
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.t1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.t2 {
  font-size: 1.33rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.04rem;
}

.t3 {
  font-size: 0.99rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
}

@media (orientation: portrait) {
  section {
    height: 50dvh;
  }

  main {
    padding-top: calc(var(--rem05));
  }
}

@media (orientation: landscape) {
  section {
    height: 100dvh;
  }

  main {
    padding-top: calc(var(--rem05) / 2);
  }
}

.padding-13 {
  padding-top: 13rem;
}

.page-header {
  height: 26rem;
  border-bottom: 0.125rem solid var(--color2);
}

.page-header
.h2 {
  position: relative;
  z-index: 1;
}

.page-header .h2 > .highlight {
  position: absolute;
  left: -15rem;
  top: -10rem;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  z-index: -1;
}

.white_bg {
  background-color: #ffffff;
}
